<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pokepedia | {% endblock title %}</title>
</head>
<body>
    <main>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.first_name }} {{ user.last_name }}</p>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}

                <input type="submit" value="Logout">
            </form>
        {% endif %}

        {% block content %}{% endblock content%}
    </main>
    <footer>
        <hr>
        {% block footer %}{% endblock footer%}
    </footer>
</body>
</html>