{% extends "base.html" %}

{% block title %}{{block.super}}Home{% endblock title %}

{% block content %}
    <h1>Pokepedia</h1>

    <form action="" method="get">
        {{ form.as_p }}
        <input type="submit" value="Search">
    </form>

    <h3><a href="{% url 'pokemon-create' %}">Create</a></h3>
    
    <h3>Pokemons:</h3>
    <ul>
        {% for pokemon in pokemon_list %}
            <a href="{% url 'pokemon-details' pokemon.pk %}">
                <li>{{ pokemon }}</li>
            </a>
        {% empty %}
            <h1>No Pokemon Found.</h1>
        {% endfor %}
    </ul>
{% endblock content %}
